.todo-form {
  position: relative;
  border: none;
  display: flex;
  margin-top: 32px;
}

.todo-input {
  width: 100%;
  border: 1px solid transparent;
  background-color: #383838;
  border-radius: 8px;
  padding: 16px;
  box-sizing: border-box;
  color: #ffffff;
  transition: 0.5s;
}
.todo-input:focus {
  outline: none;
  border-color: #61dafb;
  background: #1f1f1f;
  color: #ffffff;
}

.todo-button__add {
  margin-left: 16px;
  background-color: #61d9fa;
  border: none;
  border-radius: 8px;
  padding: 0 24px;
  text-transform: uppercase;
  color: #1f1f1f;
  font-weight: bolder;
  cursor: pointer;
  transition: 0.5s;
}
.todo-button__add:hover {
  background-color: #36b0d1;
}
.todo-button__add:focus,
.todo-button__add:active {
  outline: none;
}
